{% extends "header.html" %}
{% block content %}

<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>Date Published</th>
            <th>Article Title</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>
                    {{ article["api_id"] }}
                </td>
                <td>
                    {{ article["api_webPublicationDate"] }}
                </td>
                <td>
                    {{ article["api_webTitle"] }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}